<body>
        <!-- Header -->
        {{ partial "header" . }}

		<!-- Main -->
        <div id="main">
            <!-- Intro -->
            {{ partial "intro" . }}

            <!-- About Me -->
            <!-- {{ partial "about" . }} -->

            <!-- Portfolio -->
            {{ partial "portfolio" . }}

            <!-- Contact -->
            <!-- {{ partial "contact" . }} -->
        </div>

        <!-- Footer -->
        {{ partial "footer" . }}

        <!-- Scripts -->
        {{ partial "scripts" . }}
	</body>
