name: CI
on:
  push:
    branches:
    - sources

jobs:
  build-deploy:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, World
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
